<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- Mapper 파일 입니다 라고 셋팅시킴. -->
  
  <mapper namespace="StudentMapper">
  
  <select id="memberLogin" parameterType="com.choa.member.MemberDTO" resultType="com.choa.member.student.StudentDTO">
 select M.*, S.* from MEMBER M, STUDENT S
		where M.id=#{id} and M.pw=#{pw} and M.id=S.sid
  </select>
  
  <!-- 회원가입 쿼리문 작성 -->
 
  <insert id="joinStudent" parameterType="com.choa.member.student.StudentDTO">
  insert into student values(#{id},#{phone},#{id})
  </insert>
 	


  </mapper>